---

---
<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>À propos</title>
</head>
<body>
    <a href="/">Accueil</a><br>
	<a href="/about/">À propos</a><br>
    <a href="/blog/">Blog</a>
    
    <h1>A propos de oim</h1>
    <h2>... et de mon nouveau site Astro !</h2>

    <p>Chuis en train de suivre le tutoriel d'intro d'Astro !</p>

    <p>Ce site se verra maj au fur et à mesure où j'avance sur le tuto.</p>
</body>