---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/blogpost.astro";
const Title = "Mon Blog";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<BaseLayout Title={Title}>
    <p>Voici où je vais publier mes articles d'apprentissage !</p>
    <ul>
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>

