---
import '../styles/global.css';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
---

<Header Title="Accueil"/>
<h1>Mon Site Astro</h1>
<Footer />
<script>
import "../scripts/menu.js";
</script>
